.class-center {
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
}

.time-style{
    font-size: 400%; 
    width: 150px; 
    text-align: center;
}

.time-btn{
    width: 150px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}